*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.carousel_section {
    padding: 100px 0;
    height: 100vh;;
    background-color: rgb(218, 218, 218);
}

.wrapper {
    aspect-ratio: 16/9;
}

.d-flex {
    display: flex;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    object-position: right;
}

.images {
    flex-basis: 70%;
    position: relative;
}

.thumbs {
    flex-basis: 30%;
    position: relative;
}

.thumb_list {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.thumb {
    height: 20%;
    border-left: 1px solid white;
}

.thumb > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.btn {
    background-color: rgba(255, 255, 255, 0.672);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.btn_up {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    border-radius: 10px;
}

.btn_down {
    position: absolute;
    right: 50%;
    bottom: 10px;
    transform: translateX(50%);
    border-radius: 10px;
}

.image_info {
    position: absolute;
    bottom: 40px;
    left: 35%;
    color: white;
    line-height: 25px;
    display: none;
}

.active {
    display: block;
}

.thumb_active {
    position: relative;
    z-index: 2;
    border: 1px solid white;
}